.detail-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-left: 6px solid var(--color-accent);
}

.detail-title-title {
  font-size: 1.1rem;
  font-weight: 600;

  margin: 0;

  color: rgba(0, 0, 0, 0.8);

  padding-left: 0.5rem;
  cursor: default;
}

.detail-title-clickable {
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.detail-title-clickable:hover {
  color: var(--color-accent);
}

.detail-title-icon {
  font-size: 1rem;
}
