.people-header-container {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
}

.people-header-image-container {
  max-width: 25%;
  min-width: 25%;

  display: flex;
}

.people-header-image {
  border-radius: 2px;
  transition: all 0.3s ease-out;
}

.people-header-detail-container {
  display: flex;
  flex-direction: column;
}

.people-header-detail-name {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-accent);
  margin: 0;
}

.people-header-detail-job {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}

.people-header-detail-bio-container {
  margin-top: 0.5rem;
}

.people-header-detail-bio {
  font-size: 0.8rem;
}

.people-header-detail-born-container {
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 800px) {
  .people-header-detail-name {
    font-size: 1.2rem;
  }

  .people-header-detail-job {
    font-size: 0.7rem;
  }

  .people-header-detail-bio {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 600px) {
  .people-header-container {
    display: inline-block;
  }

  .people-header-detail-container {
    padding: 1rem;
  }

  .people-header-image-container {
    align-items: center;
    justify-content: center;

    min-width: none;
    max-width: none;
    background-color: var(--color-accent);
  }

  .people-header-image {
    height: 15rem;
  }
}
