.horizontal-list-card-container {
  display: flex;
  gap: 2rem;
  overflow: scroll;
  padding: 0.2rem 0.5rem 1.5rem 1rem;
}

.horizontal-list-title {
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.horizontal-list-title:hover {
  color: var(--color-accent);
}

.horizontal-list-card-container::-webkit-scrollbar {
  width: 0;
  height: 0.5rem;
}

.horizontal-list-card-container::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 1.5rem;
}
