.category-detail-margin {
  padding: 0 5rem;
}

.category-detail-m-t {
  margin-top: 2rem;
}

.category-detail-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  background-color: var(--color-accent);
  color: #f2f2f2;
  padding: 1rem 0;
  cursor: default;
}
