@import "~antd/dist/antd.css";

body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;

  --color-text-black: #333;

  --color-accent: #e7a61a;

  --color-grey-1: #d1d1d1;
  --color-grey-2: #a8a8a8;
  --color-grey-3: #646464;

  --color-white-1: #f2f2f2;
}

.footer-container {
  position: relative;
}

.m-x-5 {
  margin: 0 5rem;
}

.m-t-2 {
  margin-top: 2rem;
}

.p-t-1 {
  padding: 1rem;
}

.p-container {
  min-height: 100vh;
}

.loading-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
