.footer-container {
  background-color: var(--color-accent);
  padding: 2rem 5rem;
  color: rgb(236, 229, 229);

  position: static;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 650px) {
  .footer-container {
    padding: 1rem 2.5rem;
  }
}

.footer-list {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 650px) {
  .footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer-list-item {
  font-size: 1rem;
  font-weight: 600;
  list-style: none;
  line-height: 200%;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 375px) {
}

.footer-list-item:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.footer-list-link {
  color: inherit;
}

.footer-list-link:hover {
  color: inherit;
}
